@using MusicLibrary.Models.Objects;
@{
    ViewData["Title"] = "Home Page";
}


@model List<Music>;





<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>

        <thead>
            <tr>
                <td>Előadó</td>
                <td>Cím</td>
                <td>Év</td>
            </tr>
        </thead>

        <tbody>
            <tr>

                @foreach (Music m in Model)
                {
                    <td>@m.ArtistMusics.First().ArtistId</td>
                    <td>@m.Title</td>
                    <td>@m.Year</td>
                }

            </tr>
        </tbody>
    </table>








    <p></p>
</div>
